p{
  font-family: Karma;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 150%;
  color: #3B2B23;

}
em{
  color: #F56038;
;
  font-style: normal;
  
  
}
.header {
  margin-top: 10vh;
}

.contact-box {
  background-color: #E9F3E7;
  padding: 0;
  margin: 10vh;
  height: calc(120vh - 160px);
  display: flex;
  overflow: hidden;
}

.get-involved-box {
  background-color: #E9F3E7;
  padding: 0;
  margin: 10vh;
  height: calc(100vh - 160px);
  display: flex;
  overflow: hidden;
}

.box-top-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.box-bottom-left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px;
  gap: 28px;
  opacity: 1;
  margin-right: 20px;
  max-width: 60%;
}

.left-aligned-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.title {
  color: #3B2B23;
  font-size: 32px;
  font-family: 'Averia Sans Libre', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 25px 0 20px 0;
  text-align: center;
}
.lefttitle {
  color: #3B2B23;
  font-size: 32px;
  font-family: 'Averia Sans Libre', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 25px 0 20px 0;
  text-align: left;
}

.box-top-right {
  flex: 1;
  background-image: url('../../images/contactUs/contact-us-photo-top.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.box-bottom-right {
  flex: 1;
  background-image: url('../../images/contactUs/contact-us-photo-bottom.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 10px; 
}

form label {
  font-family: 'Averia Sans Libre', sans-serif;
  color: #3B2B23;
}

form input,
form textarea {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  resize: none;
}

form input::placeholder,
form textarea::placeholder {
  color: transparent;
}

form button {
  padding: 5px 50px;
  background-color: #24520A;
  color: #E9F3E7;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Averia Sans Libre', sans-serif;
  font-weight: bold;
  font-size: 18px;
  align-self: flex-end;
  margin: 15px 0 20px 0;
  resize: none; 
}

form textarea {
  height: 120px; 
  resize: none; 
}