@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Karma:wght@600&display=swap');

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 90px;
}

img,
.navContainer {
  height: 62px;
  margin-top: 65px;
  margin-left: 90px;
}

.navContainer {
  display: inline-block;
  vertical-align: middle;
  width: 610px;
  right: 30px;
  background: #f7a325;
  position: absolute;
  border-radius: 30px;
  margin-right: 90px;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav-link {
  list-style: none;
}

.nav-link button {
  color: #3b2b23;
  font-size: 16px;
  font-family: 'Averia Sans Libre';
  font-weight: 700;
  line-height: 22.37px;
  letter-spacing: 0.48px;
  word-wrap: break-word;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
  background: none;
}
