@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap');

.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5vw;
}

img,
.navContainer {
  height: 4vw;
  margin-top: 5vw;
  margin-left: 5vw;
}

.navContainer {
  display: inline-block;
  vertical-align: middle;
  width: clamp(300px, 60%, 800px);
  right: 3vw;
  background: #f7a325;
  position: absolute;
  border-radius: 3vw;
  margin-right: 5vw;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav-link {
  list-style: none;
}

.nav-link button {
  color: #3b2b23;
  font-size: clamp(14px, 2vw, 20px);
  font-family: 'Averia Sans Libre';
  font-weight: 700;
  line-height: clamp(20px, 4vw, 28px);
  letter-spacing: clamp(0.3px, 0.1vw, 0.5px);
  word-wrap: break-word;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0;
  background: none;
}
