/* Footer styles */
.footer {
    background-color: #E9F3E7;
    padding: 20px 0 0 0;
    text-align: center;
}

.footer-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icons a {
    display: inline-block;
    background-color: #F56038;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer-nav {
    margin: 15px 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #333;
    font-weight: bold;
}

.footer-nav a {
    font-family:'Averia Sans Libre', Courier, monospace;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #3B2B23;
}

.footer-bottom {
    background-color: #728F6E;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-family: 'Karma';
    font-weight: 400;
}
