@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Karma:wght@600&display=swap');

.parent {
  position: relative;
  width: 100%;
}

.line-container {
  width: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.leftline {
  width: 10%; 
  height: 0px; 
  left: 0px;

  position: absolute;
}

.rightline {
  width: 100%;
  height: 0px; 
  right: 0px;

  position: absolute;
}

.top {
  top: -13px; 
  border: 1px #24520A solid;
}

.mid {
  top: 8.375px; 
  border: 1px #4B607F solid;
}

.bot {
  top: 29.75px; 
  border: 1px #C2512F solid;
}

.text-container {
  position: relative;
  z-index: 1;
}

.text {
  position: relative;
  width: fit-content;
  left: 11%;
}

.text.title {
  top: -5px;
  color: #000000;
  font-size: 36px;
  font-family: Averia Sans Libre;
  font-weight: 700;
  line-height: 4px;
  letter-spacing: 0.96px;
  word-wrap: break-word;
}

.subtitle {
  color: #24520A;
  font-size: 20px;
  font-family: Karma;
  font-weight: 600;
  word-wrap: break-word;
  max-width: 50% 
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 18px;
  }

  .top {
    top: -13px;
  }

  .mid {
    top: 7.5px;
  }

  .bot {
    top: 28px;
  }
}

@media (max-width: 500px) {
  .text.title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 14px;
  }

  .top {
    top: -11px;
  }

  .mid {
    top: 6px;
  }

  .bot {
    top: 22px;
  }
}