@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&family=Karma:wght@600&display=swap');

.parent {
  position: relative;
}

.line-container{
  width: 100%; 
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
}

.leftline {
  width: 10%; 
  height: 0px; 
  left: 0px;
  position: absolute;
}

.rightline {
  width: 100%;
  height: 0px; 
  right: 0px;
  position: absolute;
}

.top{
  top: 16px; 
  border: 1px #728F6E solid
}

.mid {
  top: 33px; 
  border: 1px #F7A325 solid
}

.bot {
  top: 45.75px; 
  border: 1px #F56038 solid
}

.text {
  position: relative;
  top: 0px;
  width: fit-content;
  left: 11%
}

.title {
  color: #000000;
  font-size: 32px;
  font-family: Averia Sans Libre;
  font-weight: 700;
  line-height: 44.75px;
  letter-spacing: 0.96px;
  word-wrap: break-word
}

.subtitle {
  color: #24520A;
  font-size: 24px;
  font-family: Karma;
  font-weight: 600;
  word-wrap: break-word;
  max-width: 50% 
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 28px
  }

  .subtitle {
    font-size: 14px;
  }
}